* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    height: 10000px;

}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header2 {
    background: #F7EBE5;
    height: 48px;
    position: relative;
    width: 1440px;
}

.header2 ul:first-of-type {
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.79);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 16px;
    list-style-type: none;
    position: absolute;
    width: 465px;
    height: 17px;
    left: 135px;
    top: 15px;
}
.header2 a{
    text-decoration: none;
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.79);
}

.header2 ul:last-of-type {
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.88);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 43px;
    list-style-type: none;
    position: absolute;
    width: 660px;
    height: 24px;
    left: 676px;
    top: 12px;
}

.header2 img 
{
    position: relative;
    top: 5px;
}
.header2 [src*='down']{
top: 0px;
}



.header3 {
    height: 160px;

}

.rotateIn{
    animation: rotateIn 3s infinite;
    position: relative;
     left: 658px;
     top: 19px;
 }
 
 
 @keyframes rotateIn {
     from {
       -webkit-transform: rotate3d(0, 0, 1, -200deg);
       transform: rotate3d(0, 0, 1, -200deg);
       opacity: 0;
     }
   
     to {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
       opacity: 1;
     }
   }

.header3 ul li img {
    position: absolute;
    left: 22.22%;
    right: 72.65%;
    top: 0%;
    bottom: 0%;
}

.header3 li {
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #2B1414;
}

.header3 ul:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    position: absolute;
    width: 468px;
    height: 24px;
    left: 160px;
    top: 114px;
    list-style-type: none;
}

.header3 ul:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 399px;
    height: 17px;
    left: 812px;
    top: 119px;
    list-style-type: none;
}

.all {
    position: relative;
    width: 1440px;
    height: 1603px;
    /* left: calc(50% - 1440px/2); */
    /* top: 207px; */
    background: #F7F7F7;
}

.dostavka p {
    position: absolute;
    width: 186px;
    height: 17px;
    left: 627px;
    top: 61.5px;

    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(78, 157, 211, 1);
}
.dostavka a{
    color: rgba(41, 41, 41, 0.46);
    text-decoration: none;
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
   
}
.rotateOut{
    animation: rotateOut 5s infinite;
}
@keyframes rotateOut {
    from {
      opacity: 1;
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 200deg);
      transform: rotate3d(0, 0, 1, 200deg);
      opacity: 0;
    }
  }


.dostavka img:nth-of-type(1) {
    position: absolute;
    left: 157px;
    top: 300px;
    z-index: 1;
}

.dostavka img:nth-of-type(2) {
    position: absolute;
    width: 235.92px;
    height: 226.78px;
    left: 167px;
    top: 384px;
    transform: rotate(4.02deg);
    z-index: 2;
}

.dostavka img:nth-of-type(3) {
    position: absolute;
    width: 223.12px;
    height: 235.92px;
    left: 407px;
    top: 394px;
    transform: rotate(-19.73deg);
    z-index: 2;
}

.dostavka img:nth-of-type(4) {
    position: absolute;
    left: 170px;
    top: 258px;
    /* transform: rotate(73.77deg); */
}

.dostavka h2 {
    position: absolute;
    width: 417px;
    height: 51px;
    left: 735px;
    top: 125px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    color: #292929;
}

.dostavka p:nth-of-type(2) {
    position: absolute;
    width: 470px;
    height: 87px;
    left: 735px;
    top: 193px;
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #292929;
    text-align: left;
}

.dostavka h4 {
    position: absolute;
    width: 228px;
    height: 30px;
    left: 735px;
    top: 296px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
}

.dostavka p:nth-of-type(3) {
    position: absolute;
    width: 470px;
    height: 275px;
    left: 735px;
    top: 333px;
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #292929;
    opacity: 0.9;
    text-align: left;
}

.dostavka div {
    position: absolute;
    width: 214px;
    height: 214px;
    left: 155px;
    top: 382px;
    background: #FFDAD5;
    filter: blur(50px);
}



.sam img:nth-of-type(1) {
    position: absolute;
    width: 1440px;
    height: 730px;
    left: 0px;
    top: 672px;
}

.sam img:nth-of-type(2) {
    position: absolute;
    width: 256px;
    height: 343.08px;
    left: 867px;
    top: 840px;
}

.sam img:nth-of-type(3) {
    position: absolute;
    width: 235px;
    height: 235px;
    left: 873px;
    top: 855px;
    /* transform: rotate(30deg); */
}

.sam img:nth-of-type(4) {
    position: absolute;
    width: 66px;
    height: 73px;
    left: 862px;
    top: 840px;
}


.sam h4 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #292929;

}

.sam h4:nth-of-type(1) {
    position: absolute;
    width: 228px;
    height: 30px;
    left: 235px;
    top: 776px;
}

.sam h4:nth-of-type(2) {
    position: absolute;
    width: 228px;
    height: 30px;
    left: 235px;
    top: 1060px;
}

.sam p {
    font-family: 'Proxima Nova Lt';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #292929;
    opacity: 0.9;
}

.sam p:nth-of-type(1) {
    position: absolute;
    width: 470px;
    height: 275px;
    left: 235px;
    top: 813px;
}

.sam p:nth-of-type(2) {
    position: absolute;
    width: 470px;
    height: 213px;
    left: 235px;
    top: 1097px;
}

.karta {
    position: absolute;
    width: 1440px;
    height: 387px;
    left: 0px;
    top: 1402px;

}



.fot {
    top: 1789px;
    
}




    