*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.all{
    margin: auto;
    height: 600px;
    width: 470px;
    overflow-y: auto;
}
p{
    font-size: 22px;
}
iframe{
    width: 420px;
    height: 315px;
}